<div class="calendar-month mb-4" id="<%= "month-#{date.year}-#{format('%02d', date.month)}" %>">
  <h6 class="text-center fw-bold mb-2"><%= I18n.l(date, format: "%B %Y") %></h6>

  <div class="calendar-grid">
    <% start_day = date.beginning_of_month.beginning_of_week(:monday) %>
    <% end_day   = date.end_of_month.end_of_week(:sunday) %>

    <% (start_day..end_day).each do |day| %>
      <div class="calendar-day <%= 'empty-day' if day.month != date.month %> <%= 'is-today' if day == Date.today %>"
           data-date="<%= day %>">
        <div class="day-number"><%= day.day %></div>

        <% if @habits_by_date[day].present? %>
          <div class="habit-indicators">
            <% @habits_by_date[day].uniq { |h| h.category_id }.each do |habit| %>
              <span class="indicator" title="<%= habit.name %>"
                    style="background-color:<%= habit.category&.color || '#999' %>"></span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
