<h1>Calendrier des habitudes</h1>

<div class="calendar-navigation mb-3">
  <%= link_to "« Mois précédent", calendar_index_path(month: @previous_month.month, year: @previous_month.year) %> |
  <strong><%= l(@current_month, format: "%B %Y") %></strong> |
  <%= link_to "Mois suivant »", calendar_index_path(month: @next_month.month, year: @next_month.year) %>
</div>

<div id="calendar-container" data-controller="calendar" 
     data-calendar-selected-year="<%= @current_month.year %>" 
     data-calendar-selected-month="<%= @current_month.month %>">
  <table class="calendar table table-bordered text-center">
    <thead>
      <tr>
        <% I18n.t("date.abbr_day_names").each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% first_day = (@current_month.beginning_of_month.beginning_of_week(:monday) rescue nil) %>
      <% last_day  = (@current_month.end_of_month.end_of_week(:sunday) rescue nil) %>

      <% if first_day && last_day %>
        <% (first_day..last_day).to_a.in_groups_of(7).each do |week| %>
          <tr>
            <% week.each do |day| %>
              <% if day.present? %>
                <td class="<%= "outside" if day.month != @current_month.month %>">
                  <div class="date"><%= day.day %></div>

                  <% if @calendar_habits[day].present? %>
                    <ul class="habit-list mb-0">
                      <% @calendar_habits[day].each do |habit| %>
                        <li><%= habit.name %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="7">Erreur : mois invalide</td></tr>
      <% end %>

    </tbody>
  </table>
</div>
