<div class="calendar-page" data-controller="calendar"
     data-calendar-selected-year="<%= @current_month.year %>"
     data-calendar-selected-month="<%= @current_month.month %>"
     data-calendar-index-path="<%= calendar_index_path %>">

  <div class="calendar-header mb-3">
    <div class="left">
      <button type="button" class="btn btn-sm btn-outline-primary"
              data-action="calendar#goToday">Aujourd'hui</button>
    </div>

    <div class="center d-flex gap-2 align-items-center">
      <select class="form-select form-select-sm w-auto"
              data-action="change->calendar#changeMonth"
              data-calendar-target="monthSelect">
        <% 1.upto(12) do |m| %>
          <option value="<%= m %>" <%= "selected" if m == @current_month.month %>>
            <%= I18n.l(Date.new(2000, m, 1), format: "%B") %>
          </option>
        <% end %>
      </select>

      <select class="form-select form-select-sm w-auto"
              data-action="change->calendar#changeYear"
              data-calendar-target="yearSelect">
        <% ((@current_month.year - 10)..(@current_month.year + 10)).each do |y| %>
          <option value="<%= y %>" <%= "selected" if y == @current_month.year %>><%= y %></option>
        <% end %>
      </select>
    </div>

    <div class="right"></div>
  </div>

  <div class="weekdays mb-2">
    <% %w[L M M J V S D].each do |abbr| %>
      <div class="weekday-cell"><%= abbr %></div>
    <% end %>
  </div>

  <div id="calendar-container" class="calendar-stack"
       data-calendar-target="container">
    <%= render partial: "calendar/month", locals: { date: @previous_month } %>
    <%= render partial: "calendar/month", locals: { date: @current_month } %>
    <%= render partial: "calendar/month", locals: { date: @next_month } %>
  </div>
</div>
