<div class="card d-flex justify-content-between">
  <h3 class="fw-bold"><%= habit.name %></h3>
  <% goal = Goal.find_by(habit: habit) %>
  <p>Objectif: <%= goal.value %> <%= habit.habit_type.unit %> <%= goal.translate_frequency %> </p>
  <div class="d-flex bottom-card justify-content-start align-items-end gap-2">
    <div class="info-content col-8 bg-white rounded-5 justify-content-between shadow">
      <i class="fa-solid fa-chart-column"></i>
      <span><strong class="fs-3">
          <%# <%  last_valid_tracker = habit.trackers.where.not(value: [nil, 0]).last
          raise
             days_since = (Date.today - last_valid_tracker.date).to_i
          %>
         <%# <%= days_since %><%= habit.trackers.count - 1 %> </strong>jours consécutifs</span>
    </div>
    <%# Appliquer la couleur différente si tracker du jour rempli %>
  </div>
  <div class="checkbox text-end">
    <% if habit.trackers.where(date: Date.today).present? %>
      <i class="fa-regular fa-circle-check fs-1 px-2" id="check"></i>
    <% else %>
      <i class="fa-solid fa-hourglass-start fs-2 px-2" id="hourglass"></i></i>
  <% end %>
</div>
</div>
