<main class="container py-4">
  <div class="head-text mb-3">
    <h1 class="h1 fw-bold m-0">Bonjour <%= @user.pseudo %>,</h1>
    <h5 class="text-muted m-0">Suis tes progrès et gères tes Habits !</h5>
  </div>
  <%= render 'habits/form', habit: @habit %>
  <div class="modal" id="trackerFormModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <%= render 'trackers/form', trackers: @trackers %>
      </div>
    </div>
  </div>
</div>
<div class="achievements">
  <%= render 'shared/achievement' %>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
    <div class="habits-carousel">
      <div class="habits-scroll-container">
        <% @habits.each do |habit| %>
          <div class="habit-wrapper">
            <%= link_to habit_path(habit), remote: true do %>
              <%= render 'shared/card-content', habit: habit %>
            <% end %>
          </div>
        <% end %>
        <% @user.display_challenges.each do |challenge| %>
          <div class="habit-wrapper">
            <%= link_to challenge_path(challenge), remote: true do %>
              <%= render 'shared/challenge', challenge: challenge %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-bottom d-flex justify-content-center">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trackerFormModal">Mettre à jour</button>
</div>
<div class="dashboard-bottom">
  <div class="tip-section mt-3 container-fluid">
    <% if @daily_tips.any? %>
      <% @daily_tips.each do |tip| %>
        <%= render 'shared/tip', tip: tip %>
      <% end %>
    <% else %>
      <p class="text-muted">Aucun conseil quotidien pour le moment.</p>
    <% end %>
  </div>
</div>
</main>
