<div class="container pt-4">
  <div class="header-show-challenges d-flex align-items-center justify-content-between mb-4">
    <div style="width: 40px;">
      <%= link_to root_path do %>
        <%= image_tag("icons/return_black.png", class: "icon-return")%>
      <% end %>
    </div>
    <div class="flex-grow-1 text-center">
      <h2 class="mb-0">Challenges</h2>
    </div>
    <div style="width: 40px;"></div>
  </div>
  <% @challenges.each do |challenge| %>
    <% organizer = challenge.group.users.first %>
    <%= link_to challenge_path(challenge), remote: true, class: "challenge-link" do %>
      <div class="card d-flex mb-3">
        <div class="d-flex align-items-start w-100">
          <%# Image du challenge en haut à gauche %>
          <%= image_tag challenge.image, class: "me-3 challenge-list-img", style: "height: 60px; width: auto; object-fit: cover; border-radius: 12px;" if challenge.image.present? %>
          <%# Contenu à droite %>
          <div class="challenge-content-card flex-grow-1">
            <h5><%= challenge.name %></h5>
            <p class="mb-2">Objectif : <%= challenge.objective %></p>
            <p>Durée : <%= challenge.duration %> jours</p>
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex align-items-center gap-2">
                <p class="mb-0">Par :</p>
                <%= image_tag("avatars/#{organizer.avatar}", class:"avatar-bordered w-8 h-8 rounded-full", alt: organizer.pseudo) %>
              </div>
              <%= link_to "Participer", join_challenge_path(challenge), data: { turbo_method: :post }, class: "btn btn-primary ms-2" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- Pour afficher le formulaire du create -->
<%= render 'habits/form', habit: @habit %>
