<div class="gradient-bg position-relative">
  <div class="container-fluid">
    <div class="container py-4">
      <div class="header-show">
        <%= link_to challenges_path do %>
          <%= image_tag("icons/return.png", class: "icon-return")%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="chevauche-container ">
    <%= image_tag(@challenge.image, class: "chevauche-img")%>
  </div>
  <div class="container-fluid white-bg">
    <div class="container pb-2">
      <div class="content-center">
        <h2 class="mb-0" style="padding-top: 75px"><%= @challenge.name %></h2>
        <p class="mb-1"><%= @challenge.description %></p>
        <p class="d-flex align-items-center gap-2 justify-content-center">
          Organisé par :
          <% organizer = @challenge.group.users.where.not(id: current_user.id).first %>
          <%= image_tag("avatars/#{organizer.avatar}", class:"avatar-bordered w-8 h-8 rounded-full", alt: organizer.pseudo) %>
        </p>
        <% if @challenge.group.users.include?(@user) %>
        <% else %>
          <%= link_to "Participer au challenge", join_challenge_path(@challenge), data: { turbo_method: :post }, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="card d-flex mt-4">
        <div class="detail-item">
          <%= image_tag "icons/calendar.png", class: "me-3 icon-show", alt: "Calendrier" %>
          <span>
            Du
            <% if @challenge.start_date.year == @challenge.end_date.year %>
              <%= l(@challenge.start_date, format: "%d %B") %> au <%= l(@challenge.end_date, format: "%d %B %Y") %>
            <% else %>
              <%= l(@challenge.start_date, format: "%d %B %Y") %> au <%= l(@challenge.end_date, format: "%d %B %Y") %>
            <% end %>
          </span>
        </div>
        <div class="detail-item">
          <%= image_tag "icons/goal.png", class: "me-3 icon-show", alt: "Objectif" %>
          <span><%= @challenge.objective %></span>
        </div>
        <div>
          <%= image_tag "icons/trophy_black.png", class: "me-3 icon-show", alt: "Trophée" %>
          <span><%= @challenge.xp_reward %> XP</span>
        </div>
      </div>
      <div>
        <h4 class="mt-4">Liste des participants :</h3>
        <div class="px-4">
          <% @challenge.group.users.sort_by { |u| -u.xp_reward }.each do |user| %>
          <% if user == current_user %>
            <div class="d-flex p-2 participant-bg" style="display: flex; justify-content: space-between; align-items: center">
              <div>
                <div class="d-flex space-x-2" style="display: flex; justify-content: space-between; align-items: center; gap: 8px;">
                  <%= image_tag("avatars/#{user.avatar}", class:"avatar-bordered w-8 h-8 rounded-full", alt: user.pseudo) %>
                  <span><%= user.pseudo %></span>
                </div>
              </div>
              <div>
                <div class="font-semibold text-gray-700">
                  <span><%= user.xp_reward %> XP</span>
                </div>
              </div>
            </div>
          <% else %>
            <div class="d-flex p-2" style="display: flex; justify-content: space-between; align-items: center">
              <div>
                <div class="d-flex space-x-2" style="display: flex; justify-content: space-between; align-items: center; gap: 8px;">
                  <%= image_tag("avatars/#{user.avatar}", class:"avatar-bordered w-8 h-8 rounded-full", alt: user.pseudo) %>
                  <span><%= user.pseudo %></span>
                </div>
              </div>
              <div>
                <div class="font-semibold text-gray-700">
                  <span><%= user.xp_reward %> XP</span>
                </div>
              </div>
            </div>
          <% end %>
            <hr class="my-2"/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pour afficher le formulaire du create -->
<%= render 'habits/form', habit: @habit %>
