<h1>Mes Habits</h1>

<%= link_to "Nouvelle habit", new_habit_path, class: "btn btn-primary" %>

<ul>
  <% @habits.each do |habit| %>
    <li>
      <%= link_to habit.name, habit_path(habit) %>
      (<%= habit.category %> - <%= habit.habit_type %> - <%= habit.visibility %>)
    </li>
  <% end %>
</ul>
