<h1><%= @habit.name %></h1>
<p>Catégorie : <%= @habit.category %></p>
<p>Mon objectif : <%= @habit.habit_type.verb %></p>


<%= link_to "Modifier", edit_habit_path(@habit), class: "btn btn-warning" %>
<%= link_to "Supprimer", habit_path(@habit), data: { turbo_method: :delete, turbo_confirm: "Supprimer ?" }, class: "btn btn-danger" %>
<%= link_to "Retour", habits_path, class: "btn btn-secondary" %>
