<div class="gradient-bg">
  <div class="container-fluid">
    <div class="container py-4">
      <!-- Header -->
      <div class="header-show">
        <%= link_to root_path do %>
          <%= image_tag("icons/return.png", class: "icon-return") %>
        <% end %>
        <h2 class="title-white"><%= @habit.name %></h2>
        <%= link_to habit_path(@habit), data: { turbo_method: :delete } do%>
          <i class="fa-regular fa-trash-can" id="trash"></i>
        <% end %>
      </div>

      <!-- Chart section -->
      <div>
        <h5 class="title-white pt-2">Cette semaine</h5>
        <div class="card card-chart p-2">
        <%= area_chart @habit.chart_data(@goal.value),
          xtitle: "Date",
          ytitle: @habit.habit_type.unit.capitalize,
          height: "200px",
          colors: ["#8860D0", "#5680E9"],
          library: {
            scales: {
              x: {
                ticks: { color: "black", font: { size: 12, family: "Work Sans" } },
                title: { color: "black", font: { size: 16, family: "Work Sans", weight: "bold" } }
              },
              y: {
                ticks: { color: "black", font: { size: 12, family: "Work Sans" } },
                title: { color: "black", font: { size: 16, family: "Work Sans", weight: "bold" } }
              }
            },
            plugins: {
              legend: {
                labels: {
                  color: "black",
                  font: { size: 14, family: "Work Sans" }
                }
              }
            }
          }
        %>
        </div>

        <!-- Info cards row START -->
        <div class="row justify-content-between mx-0">
          <div class="info-content col-5 bg-white rounded-5 d-flex align-items-center gap-3 shadow p-3">
            <i class="fa-solid fa-chart-column"></i>
            <span>
            <strong class="fs-3"><%= @habit.trackers.count %></strong>
            jours consécutifs
            </span>
            </div>
                    <!-- espace -->
          <!-- tracker individuel -->
          <div class="info-content col-6 input-pill rounded-5 shadow d-flex justify-content-center">
            <div data-controller="tracker-show" data-tracker-show-url-value="<%= trackers_path %>" class="d-flex tracker-show align-items-center d-flex justify-content-around w-100">
              <button type="button"
                      class="btn-tracker center"
                      data-action="click->tracker-show#decrement">
              -
              </button>
              <%= form_with url: trackers_path, local: true do |f| %>
                <% if @habit.trackers.where(date:Date.today).present? %>
                  <% value = @habit.trackers.where(date:Date.today).last.value %>
                <% else %>
                  <% value = @habit.goal.value %>
                <% end %>

                <%= f.fields_for :trackers,  @habit.trackers.where(date:Date.today).last || Tracker.new, index: 0 do |hf| %>
                  <p class="mb-0 input_tracker d-flex justify-content-center align-items-center color-white">
                    <%= hf.hidden_field :habit_id, value: @habit.id %>
                    <% value = (value.to_i == value ? value.to_i : value) %>
                    <%= hf.number_field :value, value: value, class:"input-show-tracker text-center"%>

                    <%# <%= @habit.habit_type.unit.capitalize.first %>
                  </p>
                  <% end %>

                <% end %>
              <button type="button"
                      class="btn-tracker"
                      data-action="click->tracker-show#increment">
              +
              </button>
            </div>
          </div>
        </div>
        <!-- Info cards row FIN -->
      </div>
    </div>
  </div>

  <!-- Section blanche en bas -->
  <div class="container-fluid white-bg">
    <div class="container">


      <!-- Infos générales -->
<div class="row m-0 pt-4">

  <div class="col-6">
    <div class="info-content card-details blue-bg rounded-5 shadow">
      <%= image_tag "icons/categories.png", class: "icon-show", alt: "Catégories" %>
      <span>
        <strong><%= @habit.category.name %></strong>
      </span>
    </div>
  </div>

  <div class="col-6">
    <div class="info-content card-details blue-bg rounded-5 shadow">
      <%= image_tag "icons/goal.png", class: "icon-show", alt: "Objectif" %>
      <span>
        <strong><%= @goal.value %></strong>
        <strong><%= @habit.habit_type.unit %></strong>
      </span>
    </div>
  </div>

  <div class="col-6 mt-3">
    <div class="info-content card-details blue-bg rounded-5 shadow">
      <%= image_tag "icons/calendar-2.png", class: "icon-show", alt: "Période" %>
      <span>
        <strong><%= @goal.period_display %></strong>
      </span>
    </div>
  </div>

  <div class="col-6 mt-3">
    <div class="info-content card-details blue-bg rounded-5 shadow">
      <%= image_tag "icons/reminder.png", class: "icon-show", alt: "Rappel" %>
      <span>
        <strong><%= @habit.reminder_enabled? ? "Activé" : "Désactivé" %></strong>
      </span>
    </div>
  </div>

</div>

      <!-- Tips -->
      <div class="dashboard-bottom d-flex">
        <div class="tip-section mt-3 container-fluid">
           <%= render 'shared/tip', tip: @long_tip %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'habits/form', habit: @habit_new %>
