<h1><%= @habit.name %></h1>
<p>Catégorie : <%= @habit.category %></p>
<p>Type : <%= @habit.habit_type %></p>
<p>Visibilité : <%= @habit.visibility %></p>

<%= link_to "Modifier", edit_habit_path(@habit), class: "btn btn-warning" %>
<%= link_to "Supprimer", habit_path(@habit), data: { turbo_method: :delete, turbo_confirm: "Supprimer ?" }, class: "btn btn-danger" %>
<%= link_to "Retour", habits_path, class: "btn btn-secondary" %>
